{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% load filters %}

{% load humanize %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "RealEstateListing",
  "name": {{ listing.title|default:""|stringformat:"j" }},
  "url": "{{ domain }}{{ request.path }}",
  "datePosted": "{{ listing.created|date:'c' }}",
  "dateModified": "{{ listing.updated|date:'c' }}",
  "offers": {
    "@type": "Offer",
    "price": "{{ listing.price|floatformat:2 }}",
    "priceCurrency": "EUR",
    "availability": "https://schema.org/InStock"
  },
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ listing.address.street }} {{ listing.address.hn }}",
    "addressLocality": "{{ listing.address.city }}",
    "postalCode": "{{ listing.address.zipcode }}",
    "addressRegion": "{{ listing.address.state.name }}",
    "addressCountry": "{{ listing.address.state.country.shortcut }}"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ listing.latitude|default_if_none:'' }}",
    "longitude": "{{ listing.longitude|default_if_none:'' }}"
  },
  "numberOfRooms": {{ listing.get_total_rooms }},
  "floorSize": {
    "@type": "QuantitativeValue",
    "value": {{ listing.sqft|default_if_none:'' }},
    "unitCode": "MTK"
  }
}
</script>
{% endblock %}

{% block content %}


{% include 'core/partials/_showcase_section.html' %}



<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">{% translate "Home" %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'listings' %}">{% translate "Listings" %}</a>
        </li>
        <li class="breadcrumb-item active">{{ listing.title }}</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Alerts -->
{% include 'core/partials/_alerts.html' %}

<!-- Listing -->
<section id="listing" class="py-4">
  <div class="container">

    <div class="row col-12 px-0">
      <div class="col-8">
        <a href="{% url 'listings' %}" class="btn btn-light mb-4">{% translate "Back To Listings" %}</a>
      </div>
      <div class="col-4 text-right mr-0 pr-0">

	{% if user.is_authenticated %}
          {% if user.is_staff %}

        <a href="{% url 'admin:listings_listing_change' listing.id %}" target="_blank"
          class="btn btn-info text-white mr-0">
          Edit
        </a>
	{% endif %}
	{% endif%}
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <!-- Home Main Image -->
        {% if listing.image %}<img src="{{ listing.image.url }}"
         alt="{% blocktranslate with title=listing.title %}Photo of {{ title }}{% endblocktranslate %}"
         class="img-main img-fluid mb-3" loading="lazy">{% endif %}
        <!-- Thumbnails -->
        <div class="row thumbs listing-second-title">
          {% for img in listing.listingimage_set.all %}{% if img.image %}
          <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <a href="{{ img.image.url }}" data-lightbox="home-images">
              <img src="{{ img.image.url }}" alt="{% if img.short_description %}{{ img.short_description }}{% else %}{{ listing.title }}{% endif %}"
                   class="img-fluid img-inline-listing" loading="lazy">
            </a>
          </div>
          <br>
          {% endif %}
          {% endfor %}
        </div>




        <!-- Fields -->
        <div class="row fields">
          <div class="col-12 ">

            <h2 class="listing-second-title mt-3 mb-3">
              {{ listing.title }}
            </h2>

            <span class="mb-3">
              <i class="fas fa-map-marker text-secondary mb-5"></i>
              {{ listing.address }}
            </span>

          </div>


          <!-- Description -->
          <div class="col-md-12 mb-5">
            <h5 class="mb-3">{% translate "Description" %}</h5>
            <p class="mb-2">{{ listing.description }}</p>

            {%if listing.protected %}
            <small class="uppercase">
              {% translate "This object is listed" %}
            </small>

            {% else %}

            <small>
              {% translate "This object is not listed" %}
            </small>

            {% endif %}

          </div>


          <div class="col-md-6 p-0">
            <ul class="list-group list-group-flush">


              <li class="list-group-item">
                <i class="fas fa-bed text-secondary pr-2"></i> {% translate "Bedrooms" %}:
                <span class="float-right">{{ listing.bedrooms }}</span>
              </li>

              <li class="list-group-item">
                <i class="fas fa-bath text-secondary pr-2"></i> {% translate "Bathrooms" %}:
                <span class="float-right">{{ listing.bathrooms }}</span>
              </li>

              <li class="list-group-item">
                <i class="fas fa-car text-secondary pr-2"></i> {% translate "Garage" %}:
                <span class="float-right">{{ listing.garage }}
                </span>
              </li>

              <li class="list-group-item">
                <i class="fas fa-arrows-alt-v text-secondary pr-2"></i> {% translate "Ceiling height" %}:
                <span class="float-right">{{ listing.ceiling_height }} {% translate "m" %}
                </span>
              </li>



            </ul>
          </div>


          <div class="col-md-6 p-0">
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <i class="fas fa-money-bill-alt text-secondary pr-2"></i> {% translate "Price" %}
                <span class="float-right">{{ listing.price | intcomma }} €</span>
              </li>

              <li class="list-group-item">
                <i class="fas fa-th-large text-secondary pr-2"></i> {% translate "Square Feet" %}:
                <span class="float-right">{{ listing.sqft }} {% translate "m²" %}

                </span>
              </li>
              <li class="list-group-item">
                <i class="fas fa-square text-secondary pr-2"></i> {% translate "Lot Size" %}:
                <span class="float-right">{{ listing.lot_size }} {% translate "m²" %}
                </span>
              </li>
              <li class="list-group-item">
                <i class="fas fa-calendar text-secondary pr-2"></i> {% translate "Free from" %}:
                <span class="float-right">{{ listing.free_date }}</span>
              </li>


            </ul>

          </div>


          <div class="col-12 px-3 my-5">
            <div id="map" style="width:100%;height:400px;"></div>
          </div>

        </div>

        <div>
          <small>{% translate "Object from the " %}
            <span>{{ listing.created|date:"d M Y" }}</span>

          </small>
        </div>

      </div>


      {% include 'contacts/_partials/_realtor-contact-box.html' %}

    </div>
  </div>
</section>


<div id="map" style="height: 400px; width: 100%;"
     {% if listing.latitude and listing.longitude %}
     data-lat="{{ listing.latitude|stringformat:'f' }}"
     data-lng="{{ listing.longitude|stringformat:'f' }}"
     data-title="{{ listing.get_address }}"
     {% endif %}></div>

{% if listing.latitude and listing.longitude and google_maps_api_key %}
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initPropertyMap"
    referrerpolicy="no-referrer-when-downgrade"></script>
{% elif not listing.latitude %}
  <p class="text-muted"><em>{% translate "Map location is not available for this property." %}</em></p>
{% endif %}


{% endblock %}
