{% load static %}
{% load humanize %}
{% load i18n %}

<div class="col-md-6 col-lg-4 mb-4">


  <div class="card listing-preview">

    <a href="{% url 'listing' listing.id %}" class="stretched-link">
      {% if listing.image %}<img class="card-img-top listing-img" src="{{ listing.image.url }}"
           alt="{{ listing.title }}" loading="lazy">{% else %}
      <div class="card-img-top listing-img bg-secondary"></div>{% endif %}



      <div class="card-img-overlay">
        <h2>
          <span class="badge badge-success">{{ listing.price|floatformat:0 }}&nbsp;&euro;</span>

        </h2>
      </div>
      <div class="card-body">
        <div class="listing-heading text-center max-box">
          <h4 class="text-primary">{{ listing.title }}</h4>
        </div>
    </a>
    <hr>
    <div>
      <p>
        <i class="fas fa-map-marker text-secondary"></i>
        {{ listing.address.city }}, {{ listing.address.zipcode }} - {{ listing.address.state.country.shortcut }}
      </p>
    </div>
    <div class="row py-2">
      <div class="col-6">
        {% translate "m²" %}: {{ listing.sqft }}</div>
      <div class="col-6">
        {% translate "Garage" %}: {{ listing.garage }}</div>
    </div>
    <div class="row py-2">
      <div class="col-6">
        {% translate "Bedrooms" %}: {{ listing.bedrooms }}</div>
      <div class="col-6">
        {% translate "Bathrooms" %}: {{ listing.bathrooms }}</div>
    </div>

    <a href="{% url 'listing' listing.id %}" class="btn btn-secondary btn-block">{% translate "More Info" %}</a>
  </div>
</div>
</div>